/* work sance font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared style  */
* {
    font-family: "Work Sans", sans-serif;
}

/* header style  */
header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.nav-tittle {
    font-weight: 700;
    font-size: 2.8rem;
    color: rgb(19, 19, 19);
}

/* banner style  */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-tittle {
    font-weight: 700;
    font-size: 4rem;
    color: rgb(19, 19, 19);
}

.banner-discription {
    font-weight: 400;
    font-size: 1rem;
    color: rgb(114, 114, 114);
}

.btn-primary {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    cursor: pointer;
}

.banner-img {
    width: 100%;
    margin-top: 70px;
}

/* main  */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* features section  */
.quick {
    font-weight: 500;
    font-size: 2.8rem;
    color: rgb(114, 114, 114);
}

.our {
    font-weight: 700;
    font-size: 2.8rem;
    color: rgb(19, 19, 19);
}

.features {
    font-weight: 700;
    font-size: 2.8rem;
    color: rgb(255, 144, 14);
}

.features-description {
    font-size: 16px;
    font-weight: 400;
    color: rgb(114, 114, 114);
}

.image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.section-1 {
    display: flex;
    align-items: center;
}

.features-box {
    padding: 4rem;
}

/* section-2 styles  */
.enjoy-tittle-1 {
    font-weight: 700;
    font-size: 2.8rem;
    color: rgb(19, 19, 19);
}

.enjoy-tittle {
    font-weight: 600;
    font-size: 1.4rem;
    color: rgb(19, 19, 19);
}

.enjoy-description {
    font-weight: 400;
    font-size: 1rem;
    color: rgb(114, 114, 114);
}

/* section facts style */
.facts-card-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.card {
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
}

.card img {
    margin-top: 45px;
    margin-bottom: 10px;
}

.card .enjoy-tittle-1 {
    margin-top: 0;
    margin-bottom: 10px;
}

.card .injoy-description {
    margin-top: 0;
    margin-bottom: 60px;
}

/* sonser style  */
.sponser .enjoy-tittle-1 {
    margin-top: 180px;
    margin-bottom: 25px;
}

.sponser {
    text-align: center;
}

.sponser-container {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

/* section-2 styles  */
.section-2 .enjoy-tittle-1 {
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 20px;

}

.section-2 {
    display: flex;
    gap: 145px;
    margin-top: 130px;
    margin-bottom: 130px;
}

.features-card {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 25px;
    margin-top: 20px;
}

.ten-years-badge {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    padding: 45px 42px;
    width: 342px;
    text-align: center;
    position: relative;
    bottom: 120px;
    right: 100px;
}

.ten-years-badge h2 {
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
}

.ten-years-badge p {
    font-weight: 500;
    font-size: 1.5rem;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 244, 231);
}

.footer {
    font-size: 1.2rem;
    font-weight: 400;
    background-color: (66, 66, 66);
    padding-top: 40px;
    padding-bottom: 40px;
}

/* responsive style  */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .section-1,
    .section-2 {
        flex-direction: column;
    }

    .image {
        grid-template-columns: 1fr;
    }

    .features-box {
        padding: 1.2rem;
    }

    .facts-card-container {
        flex-direction: column;
        gap: 20px;
    }

    .sponser-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .features-image img {
        width: 100%;
    }

    .ten-years-badge {
        position: static;
        width: 300px;
    }


}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 50px;
    }

    nav,
    .section-2,
    .section-1 {
        flex-direction: column;
    }
}